body{
	background-color: #E8B92D;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 14px;
	line-height: 2;
	color: #333;
}

* {
	text-align: center;
}

img {
  margin-top: 20px;
}
